@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #b2b0e2;
  --foreground: #171717;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.countries-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Spacing between rows and columns */
  justify-content: center; /* Align items to the left */
}

.country-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  width: 250px; /* Fixed width for each card */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.country-card:hover {
  transform: scale(1.05); /* Slight zoom effect on hover */
}

.country-card img {
  width: 100%; /* Ensures the flag takes up full card width */
  height: auto; /* Maintains the aspect ratio */
}

.country-card h2 {
  font-size: 1.2em;
  margin: 10px 0;
}

.country-card a {
  color: blue;
  text-decoration: underline;
}


button, select {
  margin: 5px;
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
}

button:hover, select:hover {
  background-color: #f0f0f0;
}

a {
  color: blue;
  text-decoration: underline;
}

.filters-container {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Centers filters horizontally */
  align-items: center; /* Centers filters vertically if needed */
  gap: 1rem; /* Adds spacing between filters */
  padding: 1rem; /* Optional padding for better spacing */
  background-color: #f8f8f8; /* Optional background color for visibility */
  border-bottom: 1px solid #ddd; /* Optional border for separation */
}

.filters-header{
  font-weight: bolder;
  font-size: 30px;
}
